body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
    height: 100%;
    line-height: 1.8;
}

.bgimg-1 {
    margin-top: 100px;
    background-position: center;
    background-size: cover;
    min-height: 100%;
}

.bgimg-2 {
    background-position: center;
    background-size: cover;
    background-image: url("images/aptPicLr.jpeg");
    min-height: 100%;
}
