/* components */

.btn__block {
    display: block;
    background-color: transparent;
    margin-left: auto;
    margin-top: 15px;
    transition: all 0.5s ease-in-out;

    &:hover {
        transform: scaleX(1.2);
        color: white;
        letter-spacing: 1.2px;
    }
}