// SECTION LISTINGS

.listings {
    .container {
        h2 {
            text-align: center;
            margin-bottom: 50px;
        }
    }

    &__box {
        a {
            background-color: black;
            color: white;
            padding: 5px 10px;
            border-radius: 5px;
            display: inline-block;
            position: absolute;
            bottom: 0;
            right: 0;
            transition: all 0.2s ease-in-out;

            &:hover {
                background-color: white;
                color: black;
            }
        }
    }
}

// SECTION ABOUT 

.about {
    max-height: 500px;

    &__heading,
    &__paragraph {
        text-align: center;
        margin-bottom: 30px;
    }


    &__link {
        color: black;
        border: 1px solid black;
        padding: 10px;
        transition: all .5s ease-in-out;


        &:hover {
            color: white;
            background-color: black;
        }
    }
}

// MENU 

.menu {
    p {
        font-size: 14px;
        margin-bottom: 10px;
    }
}


// SECTION HERO
.hero {

    &__paragraph,
    &__heading,
    &__link {
        color: white;
        position: absolute;
        font-weight: bold;
        left: 50%;
    }

    &__heading {
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &__paragraph {
        top: 68%;
        text-transform: uppercase;
        transform: translate(-50%, -68%);
        font-size: 17px;
    }

    &__link {
        top: 85%;
        transform: translate(-50%, -85%);
        display: inline-block;
        @include transitionAll2ms;
        font-size: 14px;

        &:hover {
            color: rgba(255, 255, 255, .8);
        }

    }
}