// SECTION LISTINGS

.listings {
    .container {
        h2 {
            text-align: center;
            margin-bottom: 50px;
        }
    }

    &__box {
        a {
            background-color: black;
            color: white;
            padding: 5px 10px;
            border-radius: 5px;
            display: inline-block;
            position: absolute;
            bottom: 0;
            right: 0;
            transition: all 0.2s ease-in-out;

            &:hover {
                background-color: white;
                color: black;
            }
        }
    }
}

// SECTION APPROACH 

.approach {

    &__heading {
        @include heading;
    }

    &__box {
        &--front {
            h2 {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                color: black;
                font-weight: bold;

            }
        }

        &--back {
            h2 {
                margin-bottom: 20px;
            }
        }
    }


}

// SECTION STRONG LEADERSHIP

.strongLeadership {

    &__heading {
        @include heading;
    }
}

// SECTION TESTIMONIALS 

.testimonials {
    &__heading {
        @include heading;
    }

    &__box {
        p:first-of-type {
            font-style: italic;
            color: grey;
        }
    }
}

// MENU 

.menu {
    p {
        font-size: 14px;
        margin-bottom: 10px;
    }
}


// SECTION HERO
.hero {

    &__paragraph,
    &__heading,
    &__link {
        color: white;
        position: absolute;
        font-weight: bold;
        left: 50%;
        width: 100%;
        text-align: center;
    }

    &__heading {
        top: 50%;
        width: 90%;
        transform: translate(-50%, -50%);
    }

    &__paragraph {
        top: 68%;
        text-transform: uppercase;
        transform: translate(-50%, -68%);
        font-size: 17px;
    }

    &__link {
        top: 85%;
        transform: translate(-50%, -85%);
        display: inline-block;
        @include transitionAll2ms;
        font-size: 14px;

        &:hover {
            color: rgba(255, 255, 255, .8);
        }

    }
}

// SECTION BLOG
.blog {
    &__heading {
        @include heading;
    }
}