

/*Home Value Tool specific CSS*/
html.hvt,
body.HomeValueEstimation__page {
    overflow: hidden;
    max-height: 100vh;
}

/* Home Value Estimation CSS */

.HomeValueEstimation__bg {
    background: url('../../images/estimationBG-mobile.jpg') no-repeat bottom center;
    height: 100vh;
    background-size: cover;
    padding-top: 190px;
}
#gss_message {
    min-height: 50px;
}
.HomeValueEstimation__bg-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    background: rgba(255,255,255, .675);
}
.HomeValueEstimation__page .menu,
.HomeValueEstimation__page .menu__toggler,
.HomeValueEstimation__page .header,
.HomeValueEstimation__page .container {
    z-index: 8;
}
.HomeValueEstimation__page .menu {
    top: 0;
    z-index: 20;
}
.HomeValueEstimation__page .menu__toggler {
    z-index: 21;
}
.HomeValueEstimation__bg > .container {
    position: relative;
    transform: rotate(-0.2deg);
}
.HomeValueEstimation__page-thankyou {
    text-align: center;
}
.HomeValueEstimation__page-thankyou.HomeValueEstimation__page .bgDark__btn {
    max-width: unset;
}
.HomeValueEstimation__page .bgDark__btn {
    max-width: 110px;
    padding: 5px 24px;
    margin-left: 8px;
    max-height: 34px;
    line-height: 24px;
    border-color: #212529;
    color: #212529;
    background: rgba(255,255,255,.6666);
    font-weight: 600;
    margin-top: auto;
}
#gss_address_form .form-group {
    display: flex;
    max-width: 360px;
    justify-content: space-between;
}
#gss_address_form .form-control,
.gss_contact_form .form-control  {
    padding: 0 8px;
    line-height: 34px;
    height: 34px;
    font-size: 14px;
}
.HomeValueEstimation__page h2 {
    margin-bottom: 16px;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, .48);
}
.form-steps {
    transition: opacity 230ms;
    opacity: 1;
    padding: 20px;
    background: rgba(255,255,255, .675);
    top: -172px;
    position: relative;
    transform: rotate(-0.1deg);
}
.hidden.form-steps, .hidden {
    height: 0;
    overflow: hidden;
    opacity: 0;
}

/* END OF Home Value Estimation CSS */
@media only screen and (max-width: 325px) {
    .HomeValueEstimation__bg > div.container {
        top: 16vh;
    }
    .HomeValueEstimation__page h2.form-title-2,
    .HomeValueEstimation__page h2.form-title {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 7px;
    }
    .HomeValueEstimation__page #submitHomeValuationForm {
        margin: 20px 0 0 auto;
        display: block;
    }
}

@media only screen
and (min-device-width: 834px)
and (max-device-width: 834px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {
    div.HomeValueEstimation__bg {
        background: url(../../images/estimationBG-tabletPortrait.jpg) no-repeat center center;
    }
    .HomeValueEstimation__bg > .container {
        top: 42vh;
    }
    .HomeValueEstimation__page .bgDark__btn {
        margin: 24px auto 0 0;
    }
    .HomeValueEstimation__page h2.form-title {
        max-width: 520px;
    }
}

@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {
    div.HomeValueEstimation__bg {
        background: url(../../images/estimationBG-tabletPortrait.jpg) no-repeat center center;
        background-size: cover;
    }
    .HomeValueEstimation__bg > .container {
        top: 45vh;
    }
    .HomeValueEstimation__page .bgDark__btn {
        margin: 0 0 0 12px;
    }
    .HomeValueEstimation__page h2.form-title {
        max-width: 420px;
    }
    #gss_address_form .form-group {
        max-width: 420px;
    }
}
@media only screen and (min-width: 1140px) and (max-width: 1598px) {
    .HomeValueEstimation__bg > .container {
        top: 26vh;
    }
    #gss_address_form .form-group {
        max-width: 420px;
    }
}
@media (max-width: 767px) {
    #gss_address_form .form-group {
        flex-direction: column;
        display: flex;
        max-width: unset;
    }
}
@media (max-width: 768px) {
    .HomeValueEstimation__bg > .container {
        top: 180px;
    }
    .HomeValueEstimation__page h2 {
        font-size: 30px;
        line-height: 36px;
    }
    #gss_address_form .form-group {
        flex-direction: column;
        display: flex;
    }
    .HomeValueEstimation__page .bgDark__btn {
        margin: 24px auto;
    }
    .HomeValueEstimation__page-thankyou.HomeValueEstimation__page .bgDark__btn {
        margin: 0 auto;
    }
    .HomeValueEstimation__page .mobile-logo {
        width: 180px;
        position: absolute;
        left: calc(50% - 90px);
        z-index: 12;
        max-width: unset;
        top: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (min-width: 768px) {
    .gss_contact_form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .gss_contact_form .form-group {
        width: 100%;
    }
    .form-step-4 .gss_contact_form .btn {
        margin: 0 0 0 12px;
    }
    .HomeValueEstimation__bg .bgDark__box,
    .HomeValueEstimation__bg .form-title  {
        max-width: 360px;
        margin: 0 auto;
    }
    .HomeValueEstimation__bg .form-title  {
        margin: 0 auto 12px;
    }
}

@media (min-width: 1140px) {
    div.HomeValueEstimation__bg {
        background: url('../../images/estimationBG-1920.jpg') no-repeat 10% bottom;
        height: 100vh;
        background-size: cover;
        padding-top: 190px;
    }
    .HomeValueEstimation__page .bgDark__btn {
        margin: 0 0 0 0;
    }
    .form-steps {
        top: -76px;
    }
    #submitAddressForm {
        margin-left: 12px;
    }
    .HomeValueEstimation__bg .bgDark__box,
    .HomeValueEstimation__bg .form-title {
        max-width: 464px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (min-height: 1024px) and (max-height: 1366px) and (orientation: portrait) {
    .menu ul {
        margin-bottom: 400px
    }
    .bgDark {
        height: 100vh
    }
    .bgDark__grid {
        grid-template-columns: repeat(2, 1fr)
    }
    div.HomeValueEstimation__bg {
        background: url(../../images/estimationBG-tabletPortrait.jpg) no-repeat top center;
        height: 100vh;
        background-size: cover;
        padding-top: 190px;
    }
    .HomeValueEstimation__bg > .container {
        top: 38vh;
    }
    .HomeValueEstimation__page h2.form-title {
        max-width: 360px;
    }
}

@media only screen and (min-width: 1900px) {
    div.HomeValueEstimation__bg {
        padding-top: 225px;
    }
    .HomeValueEstimation__bg > .container {
        top: 280px;
        transform: rotate(-0.395deg);
    }
    .HomeValueEstimation__page-thankyou .HomeValueEstimation__bg > .container {
        top: 324px;
    }
    #gss_address_form .form-group {
        max-width: 540px;
    }
}