html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }
  *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit; }

input[type='search']::-webkit-search-decoration, input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-results-button, input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none; }

ol,
ul {
  list-style: none;
  margin: 0; }

p {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }
  a:hover, a:link, a:visited {
    text-decoration: none; }

input,
button {
  outline: none !important;
  border: none; }

i {
  outline: none; }

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0; }

body,
html {
  height: 100%;
  line-height: 1.8; }

body {
  position: relative; }

.wrapper {
  max-width: 100%;
  overflow: hidden; }
  .wrapper:target .bgDark {
    top: -500px; }

/* HEADER */
.header {
  width: 100vw;
  padding: 20px 0;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .header .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: transparent; }
  .header__logo .logo {
    color: black;
    font-size: 30px; }
  .header__links {
    display: flex;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center; }
  .header__link {
    display: inline-block;
    padding: 10px;
    color: black !important;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .header__link:hover {
      transform: scale(1.2); }
    .header__link div {
      display: inline-block;
      position: absolute;
      background: none repeat scroll 0 0 transparent;
      left: 50%;
      bottom: 0;
      height: 2px;
      background-color: #fff;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      width: 0; }
    .header__link:hover div {
      width: 100%;
      left: 0; }
  .header__down {
    display: none; }
    .header__down .container ul {
      position: fixed;
      display: flex;
      top: 87px;
      left: 50%;
      z-index: 5000000000000000; }
      .header__down .container ul li a {
        display: inline-block;
        margin: 0 10px;
        padding: 5px 10px;
        background-color: #e2a855;
        color: white;
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        border-radius: 5px; }
        .header__down .container ul li a:hover {
          background-color: rgba(226, 168, 85, 0.8); }

/* FOOTER */
.footer {
  padding: 50px;
  color: white;
  position: relative;
  width: 100vw; }
  .footer__flex {
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .footer__box {
    max-width: 350px;
    color: black; }
    .footer__box h3 {
      margin-bottom: 20px;
      padding-bottom: 15px;
      border-bottom: 1px solid black; }
    .footer__box li i,
    .footer__box li a {
      color: black;
      font-weight: bold; }
    .footer__box h3,
    .footer__box span,
    .footer__box button {
      color: black;
      font-weight: bold; }
    .footer__box input::placeholder, .footer__box input:hover {
      color: black;
      font-weight: bold; }
  .footer__copyright {
    text-align: center;
    color: black;
    font-weight: bold;
    padding-top: 20px; }
  .footer__line {
    width: 100%;
    background-color: black;
    height: 2px;
    margin-top: 20px; }
  .footer form input[type='email'] {
    max-width: 250px;
    transition: all 0.5s ease-in-out;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid black; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .7;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

@supports (-ms-ime-align: auto) {
  .bg-video > video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  @media only screen and (max-width: 1024px) and (max-height: 768px) and (orientation: landscape) {
    .footer {
      height: 400px; } } }

.approach__grid,
.testimonials__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px; }

.approach__grid {
  column-gap: 50px; }

.homeValuation__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px; }

.homeValuation__box {
  align-content: center;
  align-self: center; }
  .homeValuation__box:first-of-type {
    text-align: center;
    padding: 50px; }
  .homeValuation__box img {
    width: 100%; }
  .homeValuation__box h2,
  .homeValuation__box p {
    margin-bottom: 20px; }
  .homeValuation__box a {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 5px 15px;
    border-radius: 25px; }

.blog {
  width: 100vw;
  padding: 50px 0; }
  .blog__heading {
    text-align: center;
    margin-bottom: 30px; }
  .blog__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px; }
  .blog__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: green; }
    .blog__box--top {
      padding: 20px; }
    .blog__box--bottom {
      display: flex;
      font-size: 12px;
      padding: 5px;
      justify-content: space-between; }

.strongLeadership__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  margin-bottom: 30px; }

@media only screen and (max-width: 992px) {
  .homeValuation {
    padding: 50px 0;
    text-align: center; }
  .approach__grid,
  .testimonials__grid,
  .homeValuation__grid,
  .strongLeadership__grid {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 50px; }
  .approach__box .bottom {
    top: 150px; }
  .testimonials__box {
    text-align: center; }
    .testimonials__box p {
      margin-bottom: 20px; }
  .homeValuation__box p {
    margin: 0 auto;
    margin-bottom: 30px; }
  .homeValuation__box img {
    width: 100%; } }

@media only screen and (max-width: 768px) {
  .blog__grid {
    grid-template-columns: repeat(1, 1fr); } }

.listings {
  padding: 50px 0;
  width: 100vw;
  background-color: rgba(236, 235, 235, 0.5); }
  .listings__flex {
    display: flex;
    max-width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .listings__box {
    background-image: url("/images/apartment.jpg");
    width: 48%;
    max-width: 600px;
    height: 400px;
    background-position: center center;
    background-size: cover;
    position: relative;
    font-weight: bold;
    padding: 15px; }
    .listings__box:nth-child(2) {
      background-image: url("/images/1.jpg"); }

.hero {
  background-image: url("/images/bg.jpg");
  width: 100vw;
  height: 100vh;
  background-position: center center;
  position: relative;
  background-size: cover;
  z-index: 498;
  filter: grayscale(50%); }
  .hero .form-control {
    position: absolute;
    min-width: 300px;
    max-width: 570px;
    top: 77%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -77%);
    z-index: 99999999999999999999999;
    display: Flex;
    border-radius: 25px;
    flex-direction: row-reverse; }
    .hero .form-control input {
      width: 100%;
      margin-left: 15px;
      height: 100%; }
    .hero .form-control button {
      background-color: transparent; }

.approach {
  width: 100vw;
  padding: 50px 30px;
  background-color: rgba(236, 235, 235, 0.5); }
  .approach__box {
    text-align: center;
    position: relative;
    height: 550px;
    transition: all 0.4s ease-in-out;
    font-weight: bold; }
    .approach__box img {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0; }
    .approach__box--front {
      position: absolute;
      top: 0;
      left: 0; }
    .approach__box--back {
      transition: all 0.2s ease;
      background-color: rgba(250, 250, 250, 0.7);
      position: relative;
      visibility: hidden;
      opacity: 1;
      top: 50px;
      padding: 50px; }
      .approach__box--back .top,
      .approach__box--back .bottom {
        transition: all 0.4s ease-in;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%; }
      .approach__box--back .top {
        top: -50px; }
      .approach__box--back .bottom {
        bottom: -50px;
        padding: 20px; }
    .approach__box--front, .approach__box--back {
      height: 100%;
      width: 100%; }
    .approach__box:hover img {
      filter: blur(15px); }
    .approach__box:hover .approach__box--back {
      transform: translateY(-50px);
      opacity: 1;
      visibility: visible; }
      .approach__box:hover .approach__box--back .top,
      .approach__box:hover .approach__box--back .bottom {
        visibility: visible;
        opacity: 1; }
      .approach__box:hover .approach__box--back .top {
        top: 50px; }
      .approach__box:hover .approach__box--back .bottom {
        bottom: 150px; }
    .approach__box:hover .approach__box--front h2 {
      display: none; }

.strongLeadership {
  width: 100vw;
  padding: 50px 0;
  background-color: rgba(236, 235, 235, 0.5);
  text-align: center; }
  .strongLeadership__box {
    width: 100%;
    text-align: center; }
    .strongLeadership__box img {
      width: 100%;
      margin-bottom: 30px; }
  .strongLeadership__btn {
    display: inline-block;
    border: 1px solid black;
    padding: 5px 15px;
    color: black;
    transition: all .4s ease-in-out;
    border-radius: 25px; }
    .strongLeadership__btn:hover {
      color: white;
      background-color: black; }

.testimonials {
  padding: 50px 0; }
  .testimonials__box {
    padding: 20px;
    height: fit-content;
    transition: all 0.5s ease-out; }
    .testimonials__box:hover {
      border: 1px solid black;
      box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75); }

/* map */
#mapDiv {
  width: 100vw;
  height: 400px; }

.menu {
  position: fixed;
  left: -30%;
  z-index: 998;
  color: #005c9c;
  background: rgba(250, 250, 250, 0.7);
  -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
  width: 30%;
  height: 100%;
  padding: 0px 100px 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1); }
  .menu.active {
    left: 0;
    position: fixed; }
  .menu__link {
    color: black;
    display: inline-block;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .menu__link:hover {
      color: white; }
    .menu__link:last-of-type {
      margin-bottom: 20px; }
  .menu__toggler {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 99999999999;
    height: 28px;
    width: 28px;
    outline: none;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    visibility: hidden;
    opacity: 0; }
    .menu__toggler span {
      position: absolute;
      content: '';
      width: 28px;
      height: 2.5px;
      background-color: black;
      z-index: 999999999999999;
      border-radius: 20px;
      transition: 500ms cubic-bezier(0.77, 0, 0.175, 1); }
      .menu__toggler span::before, .menu__toggler span::after {
        position: absolute;
        content: '';
        width: 28px;
        height: 2.5px;
        background-color: black;
        z-index: 999999999999999;
        border-radius: 20px;
        transition: 500ms cubic-bezier(0.77, 0, 0.175, 1); }
      .menu__toggler span::before {
        top: -8px; }
      .menu__toggler span::after {
        top: 8px; }
    .menu__toggler.active > span {
      background-color: transparent; }
      .menu__toggler.active > span::before, .menu__toggler.active > span::after {
        top: 50px;
        position: fixed;
        background-color: black; }
      .menu__toggler.active > span::before {
        -webkit-transform: rotate(-225deg);
        transform: rotate(-225deg); }
      .menu__toggler.active > span::after {
        -webkit-transform: rotate(225deg);
        transform: rotate(225deg); }

.bgDark {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  padding: 100px 0;
  top: -500px;
  left: 0;
  z-index: 9999999999999999;
  width: 100vw;
  height: 100vh;
  color: white;
  visibility: hidden;
  opacity: 0;
  transition: all .4s ease-in-out;
  text-align: center; }
  .bgDark:target {
    visibility: visible;
    opacity: 1;
    top: 0; }
  .bgDark .close {
    font-size: 35px;
    position: fixed;
    top: 50px;
    right: 100px;
    color: white; }
  .bgDark__heading {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    color: white;
    font-weight: bold;
    position: relative;
    z-index: 999999999999999999999999999999999; }
  .bgDark__flex {
    display: flex;
    justify-content: space-around; }
  .bgDark__box h5 {
    margin-bottom: 40px; }
  .bgDark__box a,
  .bgDark__box ul li a,
  .bgDark__box button {
    color: White; }
  .bgDark__box a {
    display: inline-block;
    margin-bottom: 30px; }
  .bgDark__box p {
    font-style: italic; }
    .bgDark__box p:last-of-type {
      margin-bottom: 40px; }
    .bgDark__box p:nth-of-type(2) {
      margin-bottom: 30px; }
  .bgDark__box ul {
    display: flex;
    text-align: center;
    justify-content: center; }
    .bgDark__box ul li a {
      margin: 10px;
      padding: 15px 20px;
      border-radius: 50%;
      border: 1px solid white;
      transition: all .4s ease-in-out; }
      .bgDark__box ul li a:hover {
        border-color: black;
        color: black; }
  .bgDark__box input {
    min-width: 500px; }
  .bgDark__box button {
    display: inline-block;
    padding: 5px 50px;
    border: 1px solid white;
    background-color: transparent;
    transition: all .2s ease-in-out; }
    .bgDark__box button:hover {
      color: black;
      background-color: white; }

/* width */
::-webkit-scrollbar {
  width: 5px; }

/* Track */
::-webkit-scrollbar-track {
  background: transparent; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }

.listings .container h2 {
  text-align: center;
  margin-bottom: 50px; }

.listings__box a {
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: all 0.2s ease-in-out; }
  .listings__box a:hover {
    background-color: white;
    color: black; }

.approach__heading {
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px; }

.approach__box--front h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-weight: bold; }

.approach__box--back h2 {
  margin-bottom: 20px; }

.strongLeadership__heading {
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px; }

.testimonials__heading {
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px; }

.testimonials__box p:first-of-type {
  font-style: italic;
  color: grey; }

.menu p {
  font-size: 14px;
  margin-bottom: 10px; }

.hero__paragraph, .hero__heading, .hero__link {
  color: white;
  position: absolute;
  font-weight: bold;
  left: 50%;
  width: 100%;
  text-align: center; }

.hero__heading {
  top: 50%;
  width: 90%;
  transform: translate(-50%, -50%); }

.hero__paragraph {
  top: 68%;
  text-transform: uppercase;
  transform: translate(-50%, -68%);
  font-size: 17px; }

.hero__link {
  top: 85%;
  transform: translate(-50%, -85%);
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: 14px; }
  .hero__link:hover {
    color: rgba(255, 255, 255, 0.8); }

.blog__heading {
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px; }

/* components */
.btn__block {
  display: block;
  background-color: transparent;
  margin-left: auto;
  margin-top: 15px;
  transition: all 0.5s ease-in-out; }
  .btn__block:hover {
    transform: scaleX(1.2);
    color: white;
    letter-spacing: 1.2px; }

/* MEDIA QUERIES */
@media only screen and (max-width: 992px) {
  header .container .header__links li .header__link,
  .header__down .container ul,
  .header .container .header__logo .logo,
  header {
    display: none; }
  .menu__toggler {
    opacity: 1;
    visibility: visible; }
  .listings__flex {
    flex-direction: column;
    align-items: center; }
  .listings__box {
    width: 100%;
    height: 300px; }
    .listings__box:first-of-type {
      margin-bottom: 30px; } }

@media only screen and (max-width: 900px) {
  .menu__link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    flex-direction: column; }
  .footer__flex {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    row-gap: 30px; }
  .footer__box {
    text-align: center; }
    .footer__box form {
      display: flex; }
      .footer__box form button {
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        border-bottom-right-radius: 15px;
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; } }

@media only screen and (max-width: 780px) {
  .menu {
    padding: 0 50px 0 50px; } }

@media only screen and (max-width: 610px) {
  .menu {
    padding: 0 25px 0 25px; } }

@media only screen and (max-width: 600px) {
  .menu {
    width: 250px;
    left: -250px; }
  .footer form {
    flex-direction: column; }
  .footer__flex, .footer__box,
  .footer form input {
    width: 100%; }
  .btn__block {
    margin: 0 auto; }
    .btn__block:hover {
      background-color: white; }
  input[type='email'] {
    margin-bottom: 20px;
    min-width: 100%; } }

@media only screen and (max-width: 550px) {
  .footer__box li {
    margin-bottom: 15px;
    border: 1px solid black;
    padding: 10px; }
  .footer__box i {
    display: block;
    margin-bottom: 5px; } }

@media only screen and (max-width: 500px) {
  .footer__copyright {
    max-width: 250px;
    margin: 0 auto; } }

@media only screen and (max-width: 400px) {
  .hero__input {
    min-width: 280px;
    font-size: 13px; }
  .footer__copyright {
    max-width: 240px; } }

@media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .menu ul {
    margin-bottom: 400px; } }
