/* FOOTER */

.footer {
    padding: 50px;
    width: 100vw;
    position: relative;
    color: white;

    &__flex {
        display: flex;
        justify-content: space-between;
    }

    &__box {
        max-width: 350px;
        color: black;

        h3 {
            margin-bottom: 20px;
            padding-bottom: 15px;
            border-bottom: 1px solid black;
        }

        li {

            i,
            a {
                color: black;
                font-weight: bold;
            }
        }

        h3,
        span,
        button {
            color: black;
            font-weight: bold;
        }

        input {

            &::placeholder,
            &:hover {
                color: black;
                font-weight: bold;
            }
        }
    }

    &__copyright {
        text-align: center;
        padding-top: 20px;
        font-weight: bold;
        color: black;
    }

    &__line {
        width: 100%;
        background-color: black;
        height: 2px;
        margin-top: 20px;
    }

    form input[type='email'] {
        max-width: 250px;
        transition: all 0.5s ease-in-out;
        border: none;
        background-color: transparent;
        border-bottom: 1px solid black;
    }
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .7;
    overflow: hidden;

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}