.approach,
.testimonials {

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
    }
}

.approach {
    &__grid {
        column-gap: 50px;
    }
}

.homeValuation,
.rentalValuation {
    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}



.blog {

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
        row-gap: 30px;
    }
}

.strongLeadership {
    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width:992px) {


    .approach,
    .testimonials,
    .homeValuation,
    .strongLeadership {
        &__grid {
            grid-template-columns: repeat(1, 1fr);
            row-gap: 50px;
        }

    }



}

@media only screen and (max-width:900px) {
    .footer {
        &__flex {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            @include alignContentCenter;
            justify-content: center;
            justify-items: center;
            row-gap: 30px;
        }
    }
}

@media only screen and (max-width:768px) {
    .blog {
        &__grid {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}