/* HEADER */

.header {
    width: 100vw;
    padding: 20px 0;
    background-color: transparent;

    position: fixed;
    @include topleft0;
    z-index: 500;
    @include transitionAll2ms;

    .container {
        @include flexAlignItemsCenter;
        @include justifyContentSpaceBetween;
        background-color: transparent;
    }

    &__logo {
        .logo {

            color: black;
            font-size: 30px;
        }
    }

    &__links {
        display: flex;
        @include alignContentCenter;
    }

    &__link {
        display: inline-block;
        padding: 10px;
        color: black !important;
        position: relative;
        @include transitionAll2ms;

        &:hover {
            transform: scale(1.2);
        }


        div {

            display: inline-block;
            position: absolute;
            background: none repeat scroll 0 0 transparent;
            left: 50%;
            bottom: 0;
            height: 2px;
            background-color: #fff;
            @include transitionAll2ms;
            width: 0;
        }

        &:hover div {
            width: 100%;
            left: 0;
        }
    }

    &__down {
        .container ul {
            position: fixed;
            display: flex;
            top: 87px;
            left: 50%;
            z-index: 5000000000000000;

            li a {
                display: inline-block;
                margin: 0 10px;
                padding: 5px 10px;
                background-color: #e2a855;
                color: white;
                @include transitionAll2ms;
                border-radius: 5px;

                &:hover {
                    background-color: rgba(226, 168, 85, 0.8);
                }
            }
        }
    }
}