/* HEADER */

.header {
    @include vw100;
    padding: 20px 0;
    @include bgTransparent;
    @include positionFixed;
    @include topleft0;
    z-index: 500;
    @include transitionAll2ms;

    .container {
        @include flexAlignItemsCenter;
        @include justifyContentSpaceBetween;
        @include bgTransparent;
    }

    &__logo {
        .logo {
            @include color-black;
            font-size: 30px;
        }
    }

    &__links {
        @include displayFlex;
        @include alignContentCenter;
    }

    &__link {
        @include inlineBlock;
        padding: 10px;
        color: black !important;
        @include relative;
        @include transitionAll2ms;

        &:hover {
            transform: scale(1.2);
        }


        div {
            // content: '';
            @include inlineBlock;
            @include positionAbsolute;
            background: none repeat scroll 0 0 transparent;
            left: 50%;
            bottom: 0;
            height: 2px;
            background-color: #fff;
            @include transitionAll2ms;
            width: 0;
        }

        &:hover div {
            width: 100%;
            left: 0;
        }
    }

    &__down {
        .container ul {
            @include displayFlex;
            @include positionFixed;
            top: 87px;
            left: 50%;
            z-index: 5000000000000000;

            li a {
                @include inlineBlock;
                margin: 0 10px;
                padding: 5px 10px;
                background-color: #e2a855;
                @include color-white;
                @include transitionAll2ms;
                border-radius: 5px;

                &:hover {
                    background-color: rgba(226, 168, 85, 0.8);
                }
            }
        }
    }
}